.navbar {
    background-color: #000000;
}

.offcanvas {
    background-color: #000000;
}

.offcanvas-title {
    color: rgb(255, 255, 255);
}

.comicsItem {
    background-color: #181717;
}

.hr {
    border-color: red;
    border-width: 3px;
}

.border-danger {
    border-width: 2px;
}

.text-bg-dark {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}